@model Projekt.Models.MyLessons

@{
    ViewData["Title"] = "Usuń";
}

<h1>Zrezygnuj</h1>

<h3>Czy na pewno chcesz usnąć zapisanie na zajęcia?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Zajęcia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lessons.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć na listę Twoich zajęć</a>
    </form>
</div>
